{% extends 'layout.html.twig' %}

{% block main %}
    <div>
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>
    <div>
        <label for="inputEmail">Adresse e-mail</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" required autofocus>
    </div>
    <div>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" required>
    </div>
    <div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    </div>
    <div class="checkbox mb-3" id="rememberMe">
        <label id="rememberMeLabel">Se souvenir de moi</label>
        <input type="checkbox" name="_remember_me">
    </div>


    <button class="btn btn-lg btn-dark" type="submit">
        Se connecter
    </button>
</form>
    </div>
{% endblock %}
